body {
    background-color: lightgray;
    border-radius: 12px
}

.modal-header {
    border-bottom: none
}

.modal-title {
    font-size: 25px;
    font-weight: 700;
    color: black;
}

.modal-body {
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.checkbox-form {
    background: lightblue;
    color: black;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 1px
}

.learn {
    text-decoration: none;
    color: #fff
}

.add-list {
    height: 45px;
    line-height: 27px;
    background-color: black;
    color: #fff !important
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background-color: #007bff;
}