
.appDesc {
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 1.5rem;
margin-top: 0.5rem;
text-align: center;
}
/* Style for instruction text */
.instruction {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.0rem;
    color: red;
    margin-top: 0.1rem;
    text-align: center;
    }

.flex-column {
    display: flex;
    flex-direction: column;
}

.reloadButtons {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1rem;
    width: 15rem;
    margin: 0.25rem auto;    
}

#listScores {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.0rem;
    color: black;
    margin: auto;
}
/* Style for High Scores list */
.list {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.0rem;
    color: red;
    margin: auto;  
}
/* Style question div */
.question {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1rem;
    text-align: left;
    width: 15rem;
    height: auto;
    margin: 0.25rem auto;
}
/* Style answer buttons */
.answers {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1rem;
    text-align: left;
    width: 15rem;
    margin: 0.25rem auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* footer class style */
.footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background-color:#007bff;
}

.p_foot {
    margin-top: 0rem;
}

/* media query to change bg color when screen size is below 576px, xs */
/* re-sizes image to use full viewport below 576px */
/* main left/right margins at 0 below 576px to use entire screen */
@media only screen and (max-width: 576px) {
    body {
      background-color: ivory;
        }
    .img-ctr {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
            }
    main {
        margin-left: 0;
        margin-right: 0;
            }
        }